body {
  text-align: center;
  background-image: url("images/blurred-palm-trees-copy.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#artwork {
  height: 350px;
  width: 350px;
}

.links {
  margin-top: 10px;
}

.title, a {
  font-family: 'Open Sans', sans-serif;
  color: white;
}

h1 {
  margin-bottom: 0px;
}

#bTitle {
  margin-top: 0px;
}

a {
  text-decoration: none;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.spotifyLogo {
  height: 50px;
  width: auto;
  margin-top: 10px;
  transition-duration: .4s;
}

.itunesLogo {
  height: 75px;
  width: auto;
  margin-bottom: 25px;
  transition-duration: .4s;
}

.youtubeLogo {
  height: 38px;
  width: auto;
  transition-duration: .4s;
}

.spotifyLogo:hover, .itunesLogo:hover, .youtubeLogo:hover {
  transform: scale(1.2);
}

@media screen and (max-width:500px) {
  body {
    width: 100%;
    background-size: auto;
  }

  #artwork {
    height: 250px;
    width: 250px;
  }

  .spotifyLogo {
    height: 40px;
    width: auto;
    margin-top: 10px;
  }

  .itunesLogo {
    height: 65px;
    width: auto;
    margin-bottom: 25px;
  }

  .youtubeLogo {
    height: 28px;
    width: auto;
  }

}
