body {
  text-align: center;
  background-image: url("images/blurred-palm-trees-copy.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

img {
  height: 400px;
  width: 400px;
}

.links {
  margin-top: 35px;
}

h1, a {
  font-family: 'Open Sans', sans-serif;
  color: white;
}
